.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.form-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 640px;
  max-width: 360px;
  overflow: scroll;
  width: 100%;
}

h1 {
  margin-top: 30px;
}

.login-container {
  align-items: center;
  background-color: darkgray;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.input-content {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
}

.title-container {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 20px;
}

.category {
  color: #b7b7b7;
}

.image-recipe {
  width: 100%;
}

.text-conteiner {
  display: flex;
}

.margin-txt {
  margin: 0;
}

.ingredient-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ingredients {
  background-color: gray;
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 100%;
}

.instructions {
  margin: 10px;
  text-align: center;
}

.start-btn-container {
  display: flex;
  justify-content: center;
}

.start-btn {
  background-color: #0fa36b;
  border: 0;
  color: white;
  font-size: 30px;
  height: 70px;
  margin: 10px;
  transition: background-color 0.5s;
  width: 95%;
}

iframe {
  border: 0;
}

.start-btn:active {
  background-color: #588b78;
}

.start-btn:focus {
  outline: 0;
}

.header-container {
  align-self: center;
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.container-footer {
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.page-footer {
  bottom: 0;
  position: fixed;
}

.category-container {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.category-button {
  font-size: small;
  height: 40px;
  margin: 2px;
  width: 105px;
}

.search-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2px;
  width: 360px;
}

.search-container input[ type = 'text' ] {
  margin: 2px;
  width: 52vh;
}

.search-container input[ type = 'radio' ] {
  margin: 2px;
  width: 5vh;
}

.search-container button {
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 52vh;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2px;
}

header section button {
  background-color: rgb(185, 185, 185);
  border: 0;
}