.form-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 640px;
  max-width: 360px;
  width: 100%;
}

h1 {
  margin-top: 30px;
}

.login-container {
  align-items: center;
  background-color: darkgray;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.input-content {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
}

.title-container {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 20px;
}

.category {
  color: #b7b7b7;
}

.image-recipe {
  width: 98%;
}

.text-conteiner {
  display: flex;
}

.margin-txt {
  margin: 0;
}

.ingredient-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.ingredients {
  background-color: gainsboro;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: 100%;
}

.instructions {
  margin: 10px;
  text-align: center;
}

.start-btn-container {
  display: flex;
  justify-content: center;
}

.start-btn {
  background-color: #0fa36b;
  border: 0;
  color: white;
  font-size: 30px;
  height: 70px;
  margin: 10px;
  transition: background-color 0.5s;
  width: 95%;
}

iframe {
  border: 0;
}

.start-btn:active {
  background-color: #588b78;
}

.start-btn:focus {
  outline: 0;
}

.header-container {
  align-self: center;
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.container-footer {
  background-color: rgb(185, 185, 185);
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.page-footer {
  bottom: 0;
  position: fixed;
}

.category-container {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.category-button {
  font-size: small;
  height: 40px;
  margin: 2px;
  width: 105px;
}

.search-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2px;
  width: 360px;
}

.search-container input [ type = 'text' ] {
  margin: 2px;
  width: 52vh;
}

.search-container input [ type = 'radio' ] {
  margin: 2px;
  width: 5vh;
}

header section button {
  background-color: rgb(185, 185, 185);
  border: 0;
}

.search-container button {
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 52vh;
}

.card-container {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 4px;
}

.modal-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

.modal-container .modal-content {
  align-items: center;
  background-color: white;
  display: flex;
  height: 80px;
  justify-content: center;
  max-height: 640px;
  max-width: 360px;
  width: 160px;
}

.modal-text p {
  font-size: 20px;
  margin: 0;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2px 8px;
  max-width: 360px;
  overflow: auto;
  padding: 2px 2px;
  width: 340px;
}

.recomendation {
  margin: 5px;
  width: 155px;
}
